<% title(@actor.fullname) %>
<section class="actor">
  <div class="name-actions">
    <h1><%= @actor.fullname %></h1>
    <ul class="admin-actions">
      <li>
        <%= link_to "Edit Actor", edit_actor_path, class:"edit" %>
      </li>
      <li>
        <%= link_to "Delete Actor", actor_path(@actor), method: :delete, class:"delete",
            data:{confirm:"Are sure that you want to delete this actor?"}
        %>
      </li>
    </ul>
  </div>

  <div class="row">
    <div class="bio col-xs-12 col-sm-10 col-md-9 col-lg-8">
      <h2>Bio</h2>
      <% unless @actor.bio.empty? %>
        <%= @actor.bio.html_safe %>
      <% end %>
    </div>
    <div class="sidebar col-xs-12 col-sm-2 col-md-3 col-lg-4">
      <%= image_tag @actor.image.url(:medium), class:"img img-responsive" %>
    </div>
  </div>
</section>

<script>
  var equalImagesHeight = function(){
      var columns = $('.actor-image'),
      height = 0;
      //Reset the height of all the columns so that we can recalculate max height
      for (var i = 0; i < columns.length; i++) {
        columns[i].style.height = "auto";
      }

      //Loop through columns and find max height
      for (var i = 0; i < columns.length; i++) {
        if(height < columns[i].clientHeight){
          height = columns[i].clientHeight;
        }
      }

      //Apply the max height to all columns
      for (var i = 0; i < columns.length; i++) {
        columns[i].style.height = height + "px";
      }
    }

  var equalColumns = function(){
    var columns = $('.actor-preview-inside'),
    height = 0;
    //Reset the height of all the columns so that we can recalculate max height
    for (var i = 0; i < columns.length; i++) {
      columns[i].style.height = "auto";
    }

    //Loop through columns and find max height
    for (var i = 0; i < columns.length; i++) {
      if(height < columns[i].clientHeight){
        height = columns[i].clientHeight;
      }
    }

    //Apply the max height to all columns
    for (var i = 0; i < columns.length; i++) {
      columns[i].style.height = height + "px";
    }
  }

  //Initially set the column heights
  equalImagesHeight();
  equalColumns();

  //Update column heights on browser resize
  window.addEventListener("resize", equalImagesHeight, true);
  window.addEventListener("resize", equalColumns, true);
</script>
