<% title(@network.name) %>
<%= image_tag(@network.logo.url(:small)) %>
  <div class="admin-actions">
    <%= link_to "Edit Network", edit_network_path(@network), class:"edit" %>
    <%= link_to "Delete Network", network_path(@network), method: :delete,
                                                            class:"delete",
        data:{confirm:"Are you sure that you want to delete this network?"} %>
  </div>
  <h1><%= @network.name %></h1>
  <%= @network.bio %>
