<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">VoidTV</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
          <%= link_to fa_icon('home') + " Home", root_path %>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cubes"></i> Explore <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to fa_icon("star") + " Actors", actors_path %>
            </li>
            <li>
              <%= link_to fa_icon("building") + " TV Networks", networks_path %>
            </li>
            <li>
              <%= link_to fa_icon("reorder") + " Ganres", ganres_path %>
            </li>
            <li>
              <%= link_to fa_icon("tags") + " Tags", tags_path %>
            </li>
            <li>
              <%= link_to fa_icon("flag-o") + " Countries", countries_path %>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "Add New Network", new_network_path %>
            </li>
            <li>
              <%= link_to "Add New Actor", new_actor_path %>
            </li>
            <li>
              <%= link_to "Add New Ganre", new_ganre_path %>
            </li>
            <li>
              <%= link_to "Add New Tag", new_tag_path %>
            </li>
            <li>
              <%= link_to "Add New Country", new_country_path %>
            </li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
