<!DOCTYPE html>
<html>
<head>
  <title>VoidTV</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="main-header">
    <%= render 'shared/navigation' %>
  </header>

  <div class="container-fluid">
    <div class="notifications">
      <% flash.each do |key, message| %>
        <div class="alert alert-<%= key %>">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong><%= message %></strong>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </div>

</body>
</html>
