<!DOCTYPE html>
<html>
<head>
  <title>
    <% if content_for?(:title) %>
      <%= yield(:title) %>
    <% else %>
      VoidTV
    <% end %>
  </title>
  <!-- Google fonts -->
  <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header id="main-header">
    <%= render 'shared/navigation' %>
  </header>

  <div class="container">
    <div class="notifications">
      <% flash.each do |key, message| %>
        <div class="alert alert-<%= key %>">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong><%= message %></strong>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </div>

  <footer id="main-footer">

  </footer>

</body>
</html>
